@import "./reset.css";
@import "./common.css";
body {
    overflow-x: hidden;
    /* overflow: visible; */
}
html,
body {
	scroll-behavior: smooth;
}

.bff42b12-84e4-4c42-b421-7ba1593b5383 {
    opacity: 0;
}
